<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<header>
    <a href="/"> Favorites </a>
    <a href="/searches/new"> Search for Books </a>
</header>

<body>
        <form action="/books/saveedit?_method=PUT" method="POST">
            <img src="<%=book.image_url%>" alt="book cover">
            <input type="hidden" name="id" value="<%=book.id%>">
            <input type="text" name="title" value="<%=book.title%>">
            <input type="text" name="authors" value="<%=book.authors%>">
            <input type="hidden" name="image_url" value="<%=book.image_url%>">
            <input type="text" name="description" value="<%=book.description%>">
            <input type="text" name="isbn" value="<%=book.isbn%>">
            <button>Save Edits</button>
        </form>
</body>
</html>