<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <title></title>
</head>

<body>
    <h1>BOOKS</h1>
    <h2>Total Books Saved: <%=nsBooks.length%></h2>
    <a href="/searches/new"> Click here to search for books!</a>
    <%console.log('front end console log', nsBooks.length);%>

    <ul>
        <% nsBooks.forEach(book =>{ %>
            <li>
                <h2><%=book.title%> </h2>
                <h2><%=book.authors%></h2>
                <img src="<%=book.image_url%>" alt="book cover">
                <p><%=book.description%></p>
            </li>
        <%})%>
        
    </ul>
</body>

</html>